*{
	padding: 0;
	margin: 0;
	border: 0;	
	vertical-align: top;
}

body{
	width: 1200px;
	color: #919191;
	margin: 0 auto;
	font-family: Arial, sens-serif;
}

.head-wrap{
	width: 1200px;
	height: 1000px;
	background: url(image/head-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.content-wrap{
	width: 900px;
	height: 200px;
	margin: 0 auto;
	padding-top: 560px;
	text-align: center;
	text-transform: uppercase;
}

.content-wrap h1{
	width: 840px;
	font-size: 60px;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	margin-bottom: 60px;
}

.content-wrap a{
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	border: 2px solid #fff;
	padding: 13px;
}

/*NAV*/

.icon{
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	background: #4d5556;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	margin-right: 15px;
	margin-left: 120px;
}


.logo{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	font-size: bold;
	line-height: 70px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}
.logo span{color: green;}



.top-nav{
	width: 1200px;
	height: 70px;
	background: #2a3233;
	margin-bottom: 50px;
}

nav{
	display: inline-block;
	list-style: none;
	line-height: 70px;
	margin-left: 190px;
}

nav li{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	text-transform: uppercase;
}
nav li:not(:first-child){margin-left: 15px;}
nav a{
	text-decoration: none;
	color: #fff;
}
nav li:first-child a{color:green;}

.top-item{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 100px; 
}

h3{
	font-size: 22px;
	color: #596366;
	margin-bottom: 18px;
	padding-left: 1px;
	text-transform: uppercase;
}

.item{
	display: inline-block;
	width: 300px;
}

.item p{
	line-height: 25px;
}

.item:not(:first-child){
	margin-left: 25px;
}

/*person-info*/

.person-info{
	background: #f1f2f0;
}

.person-info img {
	display: inline-block;
	width: 450px;
}

.wrapp-pers-info{
	display: inline-block;
	width: 745px;
}






