*{
	padding: 0;
	margin: 0;
	border: 0;	
	vertical-align: top;
}

body{
	width: 1200px;
	color: #919191;
	margin: 0 auto;
	font-family: Arial, sens-serif;
}

.head-wrap{
	width: 1200px;
	height: 600px;
	background: url(image/head-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.content-wrap{
	height: 200px;
	width: 850px;
	margin: 0 auto;
	text-align: center;
	padding-top: 320px;
	text-transform: uppercase;
}

.content-wrap h1{
	width: 840px;
	font-size: 60px;
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	margin-bottom: 60px;
}

.content-wrap a{
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	border: 2px solid #fff;
	padding: 13px;
}

/*NAV*/

.icon{
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	background: #4d5556;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	margin-right: 15px;
	margin-left: 120px;
}


.logo{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	font-size: bold;
	line-height: 70px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}
.logo span{color: green;}



.top-nav{
	width: 1200px;
	height: 70px;
	background: #2a3233;
	margin-bottom: 50px;
}

nav{
	display: inline-block;
	list-style: none;
	line-height: 70px;
	margin-left: 190px;
}

nav li{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	text-transform: uppercase;
}
nav li:not(:first-child){margin-left: 15px;}
nav a{
	text-decoration: none;
	color: #fff;
}
nav li:first-child a{color:green;}

.top-item{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 100px; 
}

h3{
	font-size: 22px;
	color: #596366;
	margin-bottom: 18px;
	padding-left: 1px;
	text-transform: uppercase;
}

.item{
	display: inline-block;
	width: 300px;
}

.item p{
	line-height: 25px;
}

.item:not(:first-child){
	margin-left: 25px;
}

/*person-info*/

.person-info{
	background: #f1f2f0;
	margin-bottom: 60px;
}

.person-info img {
	display: inline-block;
	width: 450px;
}

.wrapp-pers-info{
	display: inline-block;
	padding: 50px 50px;
	line-height: 30px;
}

.wrap-text-info{
	margin-bottom: 80px;
	width: 580px;
}

.left-items{
	display: inline-block;
	width: 250px;
	position: relative;
	margin-right: 80px;
}

.margin-bot{
	margin-bottom: 30px;
}

.wrap-headers{
	padding-left: 50px;
}

.right-items{
	display: inline-block;
	width: 250px;
	position: relative;
}

.web-design-icon:before{
	content: '';
	background: url(image/web-icon.gif) no-repeat;
	width: 41px;;
	height: 41px;
	position: absolute;
	top: 5px;
	left: -50px;
}

.marketing-icon:before{
	content: '';
	background: url(image/marketing-icon.gif) no-repeat;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 143px;
	left: -50px;
}

.graph-icon:before{
	content: '';
	background: url(image/graph-icon.gif) no-repeat;
	width: 31px;;
	height: 45px;
	position: absolute;
	top: 5px;
	left: -50px;
}

.seo-icon:before{
	content: '';
	background: url(image/seo-icon.gif) no-repeat;
	width: 37px;
	height: 36px;
	position: absolute;
	top: 143px;
	left: -50px;
}
/*------ MY SKILL -----------*/

.wrap-skill{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.my-skill{
	display: inline-block;
	width: 500px;
	line-height: 25px;
	margin-right: 50px;
}

.my-skill a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	color: #2ecc71;
	border: 2px solid #2ecc71;
	padding: 13px 17px;
}

.experience{
	display: inline-block;
	width: 400px;
}

.experience .outer {
	background: #f1f2f0;
	width: 400px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	text-align: right;
	margin-bottom: 20px;
}

.experience .inner {
	background: #2ecc71;
	padding-right: 2px;
	
}
.outer .first{
	width: 90%;
}
.outer .second{
	width: 80%;
}
.outer .third{
	width: 90%;
}
.outer .fourth{
	width: 70%;
}

/*----------RESUME----------*/

.wrap-resume{
	background: #f1f1f0;
	text-align: center;
	padding: 70px 150px;
	position: relative;
	margin-bottom: 80px;
}

.wrap-resume:after{
    content: ''; 
    position: absolute;
    left: 575px; bottom: -35px; /* Положение треугольника */
    border: 20px solid transparent; /* Прозрачные границы */
    border-top: 15px solid #f1f1f2; /* Добавляем треугольник */
}

.wrap-resume h3{margin-bottom: 30px;}
.wrap-resume p{	margin-bottom: 60px;}
.wrap-resume a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	color: #2ecc71;
	border: 2px solid #2ecc71;
	padding: 13px 17px;
}
